@import 'variables'

@media(min-width: 1200px)
  @each $key, $value in $sizes
    .lg-p-#{$key}
      padding: #{$value}
  
    @each $key2, $value2 in $sides
      .lg-p#{$key2}-#{$key}
        padding-#{$value2}: #{$value}
  
  @each $key, $value in $sizes
    .lg-m-#{$key}
      margin: #{$value}
  
    @each $key2, $value2 in $sides
      .lg-m#{$key2}-#{$key}
        margin-#{$value2}: #{$value}
  
  @each $key, $value in $alignments
    .lg-t-#{$key}
      text-align: #{$value}