@import 'variables'

*
  overflow: auto

@each $key, $value in $sizes
  .xs-p-#{$key}
    padding: #{$value}

  @each $key2, $value2 in $sides
    .xs-p#{$key2}-#{$key}
      padding-#{$value2}: #{$value}

@each $key, $value in $sizes
  .xs-m-#{$key}
    margin: #{$value}

  @each $key2, $value2 in $sides
    .xs-m#{$key2}-#{$key}
      margin-#{$value2}: #{$value}

@each $key, $value in $alignments
  .xs-t-#{$key}
    text-align: #{$value}